[package]
edition = "2024"
name = "ensure_no_std"
version = "0.0.0"
publish = false

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

[dependencies]
emballoc = "0.3"
dfmt = { path = "..", default-features = false }
