name: Cargo Build & Test

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * *'

env: 
  CARGO_TERM_COLOR: always

jobs:
  main:
    name: Rust project - latest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - 1.81
          - stable
          - nightly
    steps:
      - uses: actions/checkout@v4
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - run: rustup component add clippy
      - run: cargo build --verbose
      - run: cargo test --verbose
      - run: cargo doc --verbose
      - run: cargo clippy --verbose
  ensure_no_std:
    strategy:
      runs-on: ubuntu-latest
      matrix:
        toolchain:
          - 1.81
          - stable
          - nightly
    steps:
      - uses: actions/checkout@v4
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - run: cd ensure_no_std && cargo run
